section {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0;
  background: #fff;
  font-weight: 400;
  color: #272341;
  padding: 0 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

button {
  width: 7.5em;
}

.image {
  display: block;
  width: 100%;
  min-height: 100%;
  border-radius: 1em;
}

.text {
  color: #def2f1;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #314455;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.75s ease;
  border-radius: 1em;
}

.imgContainer:hover .overlay {
  height: 100%;
}

.text h4 {
  font-size: 2em;
}

.description h3 {
  font-size: 2.5em;
}

#project-description {
  font-size: 1.15em;
}

.imgContainer {
  filter: drop-shadow(5px 2px 4px #314455);
}
