#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0;
  font-weight: 400;
  color: #feffff;
  padding: 0 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  background-color: #3aafa9;
  border-top: 0;
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
  clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.container h1 {
  font-size: 3.5em;
}

.container h1 {
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 3.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .container h1 {
    font-size: 1.5em;
  }
}

.slide {
  transform: translateX(-350px);
}

#slider {
  position: absolute;
  transform: translateX(-400%);
  -webkit-transform: translateX(-400%);
}

.slide-in {
  animation: slide-in 3s forwards;
  -webkit-animation: slide-in 3s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

span {
  color: #314455;
}

#see-more {
  color: #314455 !important;
  border: 1px solid #314455 !important;
}
#see-more:hover {
  color: white !important;
  background-color: #314455 !important;
}
